

.knop1{
    margin-left: 33%;
margin-top:15% ;
    align-items: center;
    width: 500px;
    height: 200px;
    background-color: red;
    color: white;
    font-size: 50px;
    border-radius: 13px;
    border-color: white;
}


body{
animation: bgcolor infinite 1s;
}
@keyframes bgcolor{
    0%{
        background-color: red;
    }
    50%{
        background-color: green;
    }
    100%{
        background-color: blue;
    }
}